

  <div class="container">

    <h1>My personal home page</h1>
    <p>You can read about me, or check out my blog.</p>
    <%= link_to "About me", about_path %>
    <%= link_to "New", new_path %>

  </div>
